

@{
    ViewBag.Title = "Fryebooks";
}

@{

    // EXAMPLE:
    // Using the Breadcrumb class to create a dynamically generated breadcrumb on the page with
    // Titles, plus optional icon and URLs
    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Dashboard", "", "fa-dashboard")
    });
}

<!-- Info boxes -->
<br />
<br />
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@ViewBag.NewWork</h3>

                <p>New Jobs</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag" style="margin-top: 8px"></i>
            </div>
            <a href="/WorkRequests" class="small-box-footer">Job Detail <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@ViewBag.CompletedWork</h3>

                <p>Completed Jobs</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars" style="margin-top: 8px"></i>
            </div>
            <a href="/WorkResponses" class="small-box-footer">Work Detail <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>@ViewBag.Clients</h3>

                <p>Clients</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add" style="margin-top: 8px"></i>
            </div>
            <a href="/Clients" class="small-box-footer">Client Detail <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@ViewBag.Accuracy<sup style="font-size: 20px">%</sup></h3>

                <p>Estimation Accuracy</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph" style="margin-top: 8px"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Income/Expense Report</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8">
                        <p class="text-center">
                            <strong>1 Oct, 2016 - 30 Mar, 2017</strong>
                        </p>
                        <div class="chart-responsive">
                            <!-- Sales Chart Canvas -->
                            <canvas id="salesChart" height="180"></canvas>
                        </div><!-- /.chart-responsive -->
                    </div><!-- /.col -->
                    <div class="col-md-4">
                        <p class="text-center">
                            <strong>Work Hours</strong>
                        </p>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="chart-responsive">
                                        <canvas id="pieChart" height="150"></canvas>
                                    </div><!-- ./chart-responsive -->
                                </div><!-- /.col -->
                                <div class="col-md-4">
                                    <ul class="chart-legend clearfix">
                                        <li><i class="fa fa-circle-o text-red"></i> NonBillable</li>
                                        <li><i class="fa fa-circle-o text-green"></i> Billable</li>
                                    </ul>
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div><!-- /.box-body -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- ./box-body -->
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block border-right">
                            <h5><span class="description-header" style="color:black;font-weight:bold">$@ViewBag.IncomeObj.FlowTotal</span></h5>
                            <a href="/Incomes"<span class="description-text" style="color:black">TOTAL INCOME</span></a>
                        </div><!-- /.description-block -->
                    </div><!-- /.col -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block border-right">
                            <h5 class="description-header">@*$@ViewBag.ExpenseObj.FlowTotal*@</h5>
                            <h5><span class="description-header" style="color:black;font-weight:bold">$@ViewBag.ExpenseObj.FlowTotal</span></h5>
                            <a href="/Expenses"<span class="description-text" style="color:black">TOTAL EXPENSE</span></a>
                        </div><!-- /.description-block -->
                    </div><!-- /.col -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block border-right">
                            @*<h5 class="description-header">$@ViewBag.ProfitObj.FlowTotal</h5>*@
                            <h5><span class="description-header" style="font-weight:bold;color:@ViewBag.ProfitObj.FlowColor">$@ViewBag.ProfitObj.FlowTotal</span></h5>
                            <span class="description-text" style="color:black">PROFIT</span>
                        </div><!-- /.description-block -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.box-footer -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
<!-- Main row -->
<div class="row">  
<!-- TO DO List -->
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>

                <h3 class="box-title">To Do List</h3>

                <div class="box-tools pull-right">
                    <ul class="pagination pagination-sm inline">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul class="todo-list">
                    @for (int i = 0; i < 5; i++)
                    {
                        <li>
                            <!-- drag handle -->
                            <span class="handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <!-- todo text -->
                            <span class="text">@ViewBag.Alerts[i].Alert.Description</span>
                            <br />
                            <!-- Emphasis label -->
                            <small class="@ViewBag.Alerts[i].ClassData"><i class="fa fa-clock-o"></i> @ViewBag.Alerts[i].DaysOld days</small>
                            <!-- General tools such as edit or delete-->
                            <div class="tools">
                                <a class="fa fa-edit" href="/Alerts/Edit/@ViewBag.Alerts[i].Alert.Id"></a>
                                <a class="fa fa-trash-o" href="/Alerts/Delete/@ViewBag.Alerts[i].Alert.Id"></a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix no-border">
                @*<button type="button" onclick="todoClick()" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button>*@
                <a href="/Alerts/Create" class="btn btn-default">Add Item</a>
            </div>
        </div>
     </div>
    <div class="col-md-5">
        <!-- MAP & BOX PANE -->
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Client Map</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="row">
                    <div class="col-md-9 col-sm-8">
                        <div class="pad">
                            <!-- Map will be created here -->
                            <div id="world-map-markers" style="height: 325px;"></div>
                        </div>
                    </div><!-- /.col -->

                </div><!-- /.row -->
            </div><!-- /.box-body -->
        </div><!-- /.box -->

    </div>
            <div class='col-md-3'>
                <!-- USERS LIST -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Latest Clients</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="users-list clearfix">
                        @foreach (Fryebooks.Models.ClientChartObject cco in ViewBag.ClientObjects)
                        {
                            <li>
                                <img src=@cco.Client.ImageUrl alt="User Image" />
                                <a class="users-list-name small" href="#">@cco.Client.Name</a>
                                <span class="users-list-date">@cco.Days days</span>
                            </li>
                        }
                        </ul><!-- /.users-list -->
                    </div><!-- /.box-body -->
                    <div class="box-footer text-center">
                        <a href="/Clients" class="uppercase">View All Clients</a>
                    </div><!-- /.box-footer -->
                </div><!--/.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
      
        @section scripts {
            @*NOTE: These should NOT be used in a production situation
                They do contains useful snippets on how to setup charts*@
            <script src="~/Scripts/AdminLTE/pages/dashboard2.js"></script>
            <script src="~/Scripts/Fryeware/custom.js"></script>
            <script src="~/Scripts/AdminLTE/demo.js"></script>
        }
