@model IEnumerable<Fryebooks.Models.WorkResponse>

@{
    ViewBag.Title = "Work";
}

<h2>All Work Items</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
 <!-- --- --- --- -- -->
<!-- Main datatable -->
<!-- --- --- --- -- -->
<table id="tableMain" class="table">
    <thead>
        <tr>
            <th></th>
            <th>
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkRequest.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStarted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeWorked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Billable)
            </th>
            <th></th>
        </tr>
    </thead>
</table>

@section scripts {
    <script src="~/Scripts/Fryeware/custom.js"></script>
}